@using System.Text.RegularExpressions

<h4>Student (Mini) Dashboard</h4>

@if(StudentVM.Students != null)
{
    if(StudentVM.Students.Count == 0)
    {
        <div>No students found.</div>
    }
    else
    {
        <div class="p-2" style="background-color:#f7f7f7;">
            <table>
                <tr>
                    <td>
                        Select Student &nbsp;
                    </td>
                    <td>
                        <select id="selectId" class="form-select id-wrapper" @bind="@newStudentId" @bind:after="@(async () => await GetStudent())">
                            <option class="form-control" value="0">Select Student ... <img src="/images/clickicon.png" height="10" width="10" />  </option>
                            @foreach (var student in StudentVM.Students)
                            {
                                <option class="form-control" value="@student.Id">@student.FullName</option>
                            }
                        </select>
                    </td>
                    <td class="td-spacer"></td>
                    @* <td>
                        <button type="button" class="btn btn-sm btn-success">Add Student</button>
                    </td>
                    <td class="td-spacer"></td> *@
                    <td>
                        <button type="button" class="btn btn-sm btn-primary" @onclick="ShowModal" disabled="@disableUpdate">Update Student</button>
                    </td>
                </tr>
            </table>
        </div>
    }
}
else
{
    <div class="mt-2">
        Loading ...
    </div>
}

@if (StudentVM.StudentModel != null)
{
    <h3 class="pt-2">@StudentVM.StudentModel.FullName</h3>

    <div>
        <div class="float-start">
            <img src="/images/@StudentVM.StudentModel.StudentImage" />
        </div>

        <div class="float-start student-info-container">
            <div style="margin-left:10px; margin-top:5px;">
                <label class="info-label">Email: </label>
                @StudentVM.StudentModel?.Email
            </div>

            <div class="student-info">
                <label class="info-label">Phone: </label>
                @if (!string.IsNullOrEmpty(StudentVM.StudentModel?.PhoneNumber))
                    @(Regex.Replace(StudentVM.StudentModel.PhoneNumber, @"(\d{3})(\d{3})(\d{4})", "$1-$2-$3"))
            </div>

            <div class="student-info">
                <label class="info-label">Birthdate: </label>
                @StudentVM.StudentModel?.BirthDate
            </div>
        </div>
    </div>

    <div class="clearfix pb-3"></div>

    <h4>Course Schedule</h4>
    <div class="pt-1 font14">
        <table class="table table-striped">
            <thead class="course-grid-header">
                <tr>
                    <th>
                        Course Name
                    </th>
                    <th>
                        Course Desc
                    </th>
                    <th>
                        Start Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (StudentVM != null && StudentVM.StudentModel != null)
                {
                    @foreach (var course in StudentVM.StudentModel.StudentsCourses.OrderBy(c => c.Course.CourseStartDate))
                    {
                        <tr>
                            <td>
                                @course.Course.CourseName
                            </td>
                            <td>
                                @course.Course.CourseDescription
                            </td>
                            <td width="160">
                                @course.Course.CourseStartDate.ToString("g")
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <Modal @ref="modal" Header="Update Student">
        <Body>
            <UpdateStudent Student="@StudentVM.StudentModel" StudentVM="StudentVM" StudentUpdated="StudentUpdated" />
        </Body>
    </Modal>
}
else
{
    <div class="pt-2">No Student Selected.</div>
}

<Modal @ref="resultsModal" Header="Update Status">
    <Body>
        <div style="font-size:18px; color:green;">
            Successfully Updated!

            <div class="pt-2 text-center">
                <i class="bi-check2-circle" style="font-size:100px;"></i>
            </div>
            
        </div>
        
    </Body>
</Modal>